<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.muhammadgamal.swapy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".FetchListSwaps"
            android:theme="@style/AppTheme.CustomTheme"></activity>

        <activity
            android:name=".UserSittings.UserChangeEmail"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserSittings.UserChangePassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSittings.UserChangePhone"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notifications.ReceivedSwapsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.app.muhammadgamal.swapy.Notifications.ReceivedSwapsActivity_NOTIFICATION_TASK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.CompleteSignUpData" />
        <activity
            android:name=".ChangeBranch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSittings.ChangeCompany"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProfileActivityShift"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".Activities.NavDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SwapCreationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ReceivedSwapRequest" />

        <service android:name=".Notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.VerifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SwapOffCreationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSittings.AccountSittings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSittings.SittingActivityBody"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProfileActivityOff"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".Activities.ProfileActivityShiftReceivedRequest"
            android:theme="@style/AppTheme.ActionBar.Transparent2" />
        <activity
            android:name=".Activities.ProfileActivityOffReceivedRequest"
            android:theme="@style/AppTheme.ActionBar.Transparent2" />
        <activity
            android:name=".Activities.ProfileActivityShiftSentRequest"
            android:theme="@style/AppTheme.ActionBar.Transparent2" />
        <activity
            android:name=".Activities.ProfileActivityShiftAcceptedRequest"
            android:theme="@style/AppTheme.ActionBar.Transparent2" />
        <activity
            android:name=".Activities.ProfileActivityOffAcceptedRequest"
            android:theme="@style/AppTheme.ActionBar.Transparent2" />
        <activity
            android:name=".Activities.ProfileActivityOffSentRequest"
            android:theme="@style/AppTheme.ActionBar.Transparent2" />
        <activity
            android:name=".Activities.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserSittings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".UserSittings.DeleteAccount"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notifications.NotificationRequists"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>